html, body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(images/background-3.jpg);
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 0;
    margin-top: 20;
    color: white;
}

#league-selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

#leagues-select {
    position: relative;
    
}
select {
    width: 400px;
    font-size: 20px;
    height: 40px;
    text-align: center;
}

#results {
    display: flex;
}

ol {
    color: white;
    font-size: 3rem;
    list-style-type: none;
    padding-left: 20px;
    counter-reset: my-counter; 
    width: 75%;
    margin-left: 150px;
    font-weight: bold;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  li::before {
    content: counter(my-counter)"."; 
    counter-increment: my-counter; 
    margin-right: 10px;
  }
  
  .no-standings {
    font-size: 3rem;
    color: white;
    margin: 100px 70px;
  }